{% load static %}

<!-- App css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Loading button css -->
<link href="{% static 'libs/ladda/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Plugins css -->
<link href="{% static 'libs/jquery-nice-select/nice-select.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/switchery/switchery.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/multiselect/multi-select.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" type="text/css" />