{% load static %}

<!-- Vendor js -->
<script src="{% static 'js/vendor.min.js' %}"></script>

<script src="{% static 'libs/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'libs/dropify/dropify.min.js' %}"></script>

<!-- Loading buttons js -->
<script src="{% static 'libs/ladda/spin.js' %}"></script>
<script src="{% static 'libs/ladda/ladda.js' %}"></script>

<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>

<!-- Table Editable plugin-->
<script src="{% static 'libs/jquery-tabledit/jquery.tabledit.min.js' %}"></script>
<script src="{% static 'js/pages/loading-btn.init.js' %}"></script>

<!-- Table editable init-->
<script src="{% static 'js/pages/tabledit.init.js' %}"></script>
<script src="{% static 'js/pages/form-fileuploads.init.js' %}"></script>

<!-- Buttons init js-->
<!-- <script src="{% static 'js/pages/loading-btn.init.js' %}"></script> -->

<!-- third party js -->
<script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.select.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/vfs_fonts.js' %}"></script>
<!-- third party js ends -->